.hollidays{
  font-size: 15px;
  letter-spacing: 0px;
  font-family: "HelveticaNeue-Medium";
}
.holliday-item:nth-child(1), .forecast-item:nth-child(1){
  opacity: 1;
}
.holliday-item:nth-child(2), .forecast-item:nth-child(2){
  opacity: .845; /* calc(1 - 0 * 0.155) */
}
.holliday-item:nth-child(3), .forecast-item:nth-child(3){
  opacity: .69; /* calc(1 - 2 * 0.155)*/
}
.holliday-item:nth-child(4), .forecast-item:nth-child(4){
  opacity: .535; /* calc(1 - 3 * 0.155)*/
}
.holliday-item:nth-child(5), .forecast-item:nth-child(5){
  opacity: .38; /* calc(1 - 4 * 0.155)*/
}


.time-day{
  font-size: 25px;
  letter-spacing: 0px;
  font-family: "HelveticaNeue-Light";
  color: #aaa;
}
.time-hour-min{
  font-size: 75px;
  font-family: "HelveticaNeue-UltraLight";
  letter-spacing: -3px;
}
.time-sec{
  font-size: 25px;
  color: #666;
  padding-left: 5px;
  position: relative;
  top: -35px;
}


.weather{
  font-size: 20px;
  letter-spacing: 0px;
  font-family: "HelveticaNeue-Light";
}
.weather-min-temp, .weather-max-temp{
  font-family: "HelveticaNeue-Medium";
}
.weather-day{
  color: #aaa;
}


.news-content{
  font-size: 40px;
  font-family: "HelveticaNeue-UltraLight";
}

.communicator{  }

