@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('fonts/HelveticaNeue-UltraLight.eot'); /* IE9 Compat Modes */
  src: url('fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/HelveticaNeue-UltraLight.woff') format('woff'), /* Modern Browsers */
       url('fonts/HelveticaNeue-UltraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/HelveticaNeue-UltraLight.svg#9453ea8da727d260bcdbfa605bdbb5d2') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('fonts/HelveticaNeue-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/HelveticaNeue-Medium.woff') format('woff'), /* Modern Browsers */
       url('fonts/HelveticaNeue-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/HelveticaNeue-Medium.svg#d7af0fd9278f330eed98b60dddea7bd6') format('svg'); /* Legacy iOS */ 
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('fonts/HelveticaNeue-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/HelveticaNeue-Light.woff') format('woff'), /* Modern Browsers */
       url('fonts/HelveticaNeue-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/HelveticaNeue-Light.svg#7384ecabcada72f0e077cd45d8e1c705') format('svg'); /* Legacy iOS */      
  font-style:   normal;
  font-weight:  200;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.vertical-align{
  position:absolute;
  top:40%;
  right:15px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ultralight{
  font-family: "HelveticaNeue-UltraLight";
}
.light{
  font-family: "HelveticaNeue-UltraLight";
  font-size: 1.15em;
}
body {
  padding: 0;
  background-color: black;
  color:white;
/*  letter-spacing: -2px;
  font-size: 75px;*/
  font-family: "HelveticaNeue-Light";
  overflow-y: hidden;
  overflow-x: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

  cursor:default!important;
}

.fa-twitter, .fa-microphone, .fa-microphone-slash {
  color:#333;
}

.main-row{
  padding-top: 10px;
}
