<div class="weather">
  <div class="row forecast-item" ng-repeat="weather in forecast">
    <span class="col-md-6 pull-left">
      <span class="weather-day">{{ weather.day | capitalize }}</span>
      <span class="weather-icon"><i class="wi wi-forecast-io-{{ weather.icon }}"></i></span>
    </span>
    
    <span class="col-md-6">
      <div class="pull-right">
        <span class="weather-min-temp">{{ weather.min }}&deg;</span>
        <span class="weather-max-temp">{{ weather.max }}&deg;</span>
      </div>
    </span>
  </div>
</div>