<div class="col-md-12">
  <div class="row" ng-if="!speechRecognitionNotSupported">
    <div class="col-md-12">
        <voicewave-visualizer /> 
    </div>
  </div>

  <div class="row" ng-if="speechRecognitionNotSupported">  
    <div class="col-md-12">
      <img ng-src="images/sad-computer.jpg" class="center-block img-responsive">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="text-center navbar navbar-fixed-bottom">
        <div class="talk" ng-class="{ notSupported : speechRecognitionNotSupported}">
          <i class="fa fa-4x" ng-class="{ 'fa-microphone':!speechRecognitionNotSupported, 'fa-microphone-slash':speechRecognitionNotSupported  }"></i>
          <span class="talk-result">
            <span ng-class="{ interim: speechResult.isInterim }">{{ speechResult.result }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>