<div class="col-md-offset-2 col-md-8 weather-response" ng-if="response">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <span>{{:: 'TODAY' | translate}}</span>: <b>{{ now.summary | capitalize }}</b>
        <i class="wi wi-forecast-io-{{now.icon}}"></i> 
      </p>
      <!-- ( {{now.min}}&deg; | {{now.max}}&deg; ) -->
    </div>
  </div>

  <ul class="weather-list list-group text-center">
    <li ng-repeat="weather in forecast" class="list-group-item weather-day-resume">
      <span class="pull-left">
        {{ weather.day | capitalize }} <i class="wi wi-forecast-io-{{weather.icon}}"></i> 
      </span>
      <span><i>{{ weather.summary }}</i></span>
      <span class="pull-right">
        <span class="weather-min-temp">{{ weather.min }}&deg;</span> 
        <span class="weather-max-temp">{{ weather.max }}&deg;</span> 
      </span>
    </li>
  </ul>
</div>